{% extends "template.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {% include "base/base.html" %}
    </div>
  </div>
  <div class="row margin-navbar">
    <div class="col">
      <form method="POST" action="">
        {% csrf_token %}
               <h4 class="heading-contract-new" align="center">СОЗДАНИЕ ТРАНЗАКЦИИ</h4>
               <div class="row">
                 <div class="col-12">
                     {{form.as_p}}
                 </div>
                 <input type="submit" name="submit" class="button-create" value="Создать">
              </div>
         </form>
    </div>
  </div>
</div>
{% endblock %}
