{% extends "good/wrapper.html" %}
{% block title %}Графики{% endblock %}

{% block content %}
<header>
    {% include "base/base.html"%}
</header>
<div class="container">
  <div class="row margin-navbar">
  </div>
    <form method="get" action="./newcard">
      <button type="submit" class="button-create-newcard">Создать карточку</button>
    </form>
  <div class="row">
  {% for montage in object_list %}
  <div class="col-3">
   <div class="card" style="width: 18rem;">
   <div class="card-body">
     <h5 class="card-title">{{montage.date}}</h5>
   </div>
   <ul class="list-group list-group-flush">
     <li class="list-group-item">{{montage.address}}</li>
     <li class="list-group-item">{{montage.customer}}</li>
     <li class="list-group-item">{{montage.description}}</li>
   </ul>
 </div>
 </div>
 {% endfor %}
  </div>
 </div>
<style>

.sheduler__clear{
  border-bottom: none;
}
.sheduler__good{
    background:#b0b0f2;
    width:100px;
    float:left;
    border:solid #ddd 1px;
    display: flex;
    border-line: 100px;
}
.sheduler__hour-row{
    height:50px;
    border:solid #ddd 1px;
}
.sheduler__good-height-5{
    height:250px
}
.sheduler__good-height-2{
    height:100px
}
.sheduler__good-height-3{
    height:150px
}
.sheduler__good-height-4{
    height:200px
}

</style>

{% endblock %}
