{% extends "template.html" %}
{% block title %}Графики{% endblock %}

{% block content %}
<header>
    {% include "base/base.html"%}
</header>
<div class="container">
    <div class="row margin-navbar">
        {% for day in day_list %}
        <div class="col-3">
            число: {{day.date}}
            {% for good in day.goods %}
            <div class="row sheduler__hour-row">
                    <div class="col-2">
                      {{good.date}}
                    </div>
                    <div class="col-10">
                      {% for x in good.data %}
                      <!-- {%if good.date|add:x.time_of_production > endday %}
                      <div class="sheduler__clear sheduler__good  sheduler__good-height-{{endday|add:"-good.date"}}">{{x.id}} {{x.order.customer.last_name}}</div>
                      {% else %} -->
                      <div class="sheduler__good  sheduler__good-height-{{x.time_of_production}}">{{x.id}} {{x.order.customer.last_name}}</div>
                      <!-- {% endif %} -->
                    {% endfor %}
                    </div>
            </div>
                {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
<style>
.sheduler__clear{
  border-bottom: none;
}
.sheduler__good{
    background:#b0b0f2;
    width:100px;
    float:left;
    border:solid #ddd 1px;
    display: flex;
    border-line: 100px;
}
.sheduler__hour-row{
    height:50px;
    border:solid #ddd 1px;
}
.sheduler__good-height-5{
    height:250px
}
.sheduler__good-height-2{
    height:100px
}
.sheduler__good-height-3{
    height:150px
}
.sheduler__good-height-4{
    height:200px
}

</style>

{% endblock %}
